@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
    font-family: 'Poppins', sans-serif;
}

.hero {
    background: linear-gradient(90deg, rgba(201, 206, 252, 0.00) 0%, #C9CEFC 100%);
}

.slide {
    transform: scale(0.5);
    transition: transform 800ms;
    transition-timing-function: ease-in-out
}

.activeSlide{
    transform: scale(1);
    transition: transform 800ms;
    transition-timing-function: ease-in-out
}

.slick-track{
    display: flex;
    align-items: center;
}

.edge-fade{
    background: linear-gradient(90deg, #F1F5F9 0%, rgba(241, 245, 249, 0.00) 100%);
}

.fade-slide-in {
    animation: fade-slide-in 300ms ease-in-out;
}

@keyframes fade-slide-in {
    0% {
        opacity: 0;    
        transform: translate(0, -50%);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
    
}